server {
    listen 80;
    listen [::]:80;
    server_name sh.lplww.xyz;
    return 301 https://sh.996878.xyz$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name sh.lplww.xyz;
    ssl_certificate /etc/letsencrypt/live/sh.lplww.xyz/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/sh.lplww.xyz/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    return 301 https://sh.996878.xyz$request_uri;
}
